<div class="inactive-asset-browser">
    <!-- A FormApplication needs a form to avoid errors, so we put one but we hide it -->
    <form style="display: none;"></form>
    <button class="re-index">Re-Index</button>
    <div class="module-list">
        {{#each assetCollection}}
        {{#if this.onePack}}
            <h1>1 {{@key}} / {{this.title}}</h1>
            {{#each this.packs}}
                <h1>1 {{@key}} / {{this.title}}</h1>
            {{/each}}
        {{else}}
            <h1>{{@key}} / {{this.title}}</h1>
            {{#each this.packs}}
                <h2>{{@key}} / {{this.title}}</h2>
            {{/each}}
        {{/if}}
        {{/each}}
    </div>
</div>
</div>