<div class="inactive-asset-browser asset-list">
    <!-- A FormApplication needs a form to avoid errors, so we put one but we hide it -->
    <form style="display: none;"></form>
    <div class="module-panel">
        <header>
            <input type="text" class="filter" placeholder="Filter Assets" />
        </header>
        <div class="modules">
            {{#each assetCollection as |module moduleName|}}
                <div class="module">
                    {{#unless module.onePack}}
                        <h1 data-module-name="{{moduleName}}" title="{{moduleName}}"><button type="button" title="refresh module content" class="refresh-module"><i class="fas fa-sync"></i></button> {{module.title}}</h1>
                    {{/unless}}
                    {{#each module.packs as |pack packName|}}
                        <div class="pack">
                        {{#if module.onePack}}
                            <h1 data-module-name="{{moduleName}}" data-pack-name="{{packName}}" title="{{moduleName}}.{{packName}}"><button type="button" title="refresh module content" class="refresh-module"><i class="fas fa-sync"></i></button> {{module.title}} / {{pack.title}}</h1>
                        {{else}}
                            <h2 data-module-name="{{moduleName}}" data-pack-name="{{packName}}" title="{{packName}}">{{pack.title}}</h2>
                        {{/if}}
                        <div class="assets">
                            {{#each pack.assets}}
                            <div class="asset" data-module-name="{{moduleName}}" data-pack-name="{{packName}}" data-asset-name="{{this.name}}" data-asset-index="{{@index}}">
                                <div class="name">{{this.name}}</div>
                                <img src="{{this.thumb}}" />
                            </div>
                            {{/each}}
                        </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
    <div class="panel">
        <button class="re-index">Re-Index</button>
        <button class="select-modules">Select modules</button>
        <button class="add-scene">Add scene</button>
        <div class="keywords"">
            Keywords:
            <input type="text" />
        </div>
        <div class="asset-view"></div>
    </div>
</div>
</div>