<form class="flexcol inactive-asset-browser module-selector">
    <header class="flexrow controls">
        <button type="button" class="check-all small"><i class="far fa-check-square"></i></button>
        <button type="button" class="check-none small"><i class="far fa-square"></i></button>
        <button type="button" class="sort-alpha small"><i class="fas fa-sort-alpha-down"></i></button>
        <button type="button" class="sort-alpha-reverse small"><i class="fas fa-sort-alpha-down-alt"></i></button>
        <button type="button" class="sort-selected"><i class="fas fa-sort-amount-down"></i> Selected on top</button>
        <button type="button" class="show-only-modules-with-scenes"><i class="fas fa-map"></i> Scenes only</button>
        <button type="button" class="show-all-modules"><i class="fas fa-map"></i> All modules</button>
    </header>
    <header class="flexrow controls">
        <input type="text" class="filter" placeholder="Filter Modules" />
    </header>
    <section class="module-list">
        <ul>
        {{#each existingModules as |module moduleName|}}
            <li data-module-name="{{module.module.id}}" class="unkown-scene-status"><label><input name="{{module.module.id}}" type="checkbox" {{#if module.selected}}checked{{/if}} /> <span class="title">{{module.module.data.title}}</span></label></li>
        {{/each}}
        </ul>
    </section>
    <footer class="flexrow controls">
        <button type="submit"><i class="far fa-save"></i> Save Changes</button>
        <button type="reset" value="Reset"><i class="fas fa-undo"></i> Reset Defaults</button>
    </footer>
</form>