.inactive-asset-browser.asset-list {
    display: flex;
    height: 100%; // for overflow and scrolling to work
    $spacing: 1em;
    .modules {
        flex: 1;
        height: 100%;
        padding-right: $spacing;
        overflow-y: scroll;
        h1 {
            display: flex;
            .refresh-module {
                align-self: center;
                flex: 0; // this button should have a fixed size
                i {
                    margin-right: 1px;
                }
            }
        }
    }
    .panel {
        width: 200px;
        padding-left: $spacing;
        border-left: 1px solid var(--color-border-light-primary);
    }
}

.inactive-asset-browser.asset-list .assets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.inactive-asset-browser.asset-list .asset {
    align-self: end;
}

.inactive-asset-browser.module-selector {
    height: 100%;
    .module-list {
        overflow-y: auto;
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                label {
                    display: contents;
                }
            }
        }
    }
    .controls {
        flex: none;
    }
}